@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Pacifico&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: rgb(241, 239, 239);
}

.a{
    height: 60px;
    background-color: rgb(245, 242, 242);
    border: 3px solid rgb(0, 0, 0);
}

h1{
font-family:'Pacifico', cursive;
font-size: 35px;
color: rgb(177, 5, 154);
text-align: left;
}

p{
color: rgb(0, 0, 0);
text-align: center;
Font-weight: bold;
font-size: 30px;
}

.center{
    text-align: left;
}

.meio {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://st2.depositphotos.com/2343527/9596/v/950/depositphotos_95968120-stock-illustration-animal-pets-grooming-and-healthcare.jpg);
    background-color: rgb(238, 0, 0);
}

.meio img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgsecond {
    width: 300px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://idec.org.br/sites/default/files/dicasedireitos/como-escolher-petshop.jpg);
    border: 3px solid black; 
    position: absolute;
    left: 30%;
}

